<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hippos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class = "container">
        <div class = "hippos">
            <h1>All Known Hippos!</h1>
    <% if (Hippos) { %>
        <% for (var hippo of Hippos){ %>
            <h4><a href="/edit/<%= hippo.id %>">"<%= hippo.name %>"</a></h4>
            <h5>-<%= hippo.description %></h5>
            <ul>
        <% } } %>
        <a href="hippos/new">Add a Hippo!</a>
        </div>
    </div>
</body>
</html>